@mixin buttons() {
  background-color: transparent;
  background-position: center;
  background-size: 3.4vw;
  border: none;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
};

.info-button {
  background-image: url(../images/info.png);
  @include buttons();
  display: inline;
}

.friends-button {
  background-image: url(../images/friends.png);
  @include buttons();
  display: inline;
}

.calendar-button {
  background-image: url(../images/calendar.png);
  @include buttons();
  display: inline;
  float: right;
}

.trending-button {
  @include buttons();
}

.go-back-button {
  background-image: url(../images/return.png);
  @include buttons();
}

.steps-trending-button {
  background-image: url(../images/steps-trending.png);
}

.stairs-trending-button {
  background-image: url(../images/stairs-trending.png);
}
