

#profile-button {
  @include buttons();
  position: absolute;
  right: 10px;
  top: 5px;
  background-image: url(../images/profile.png);
  display: inline;
  float: right;
}

.clear-button:hover{
  border: 1px solid #950714;
  color: #950714;
}

.submit-button:hover{
  border: 1px solid #20b807;
  color: #20b807;
}

button:hover {
  cursor: pointer;
}

.form-button {
  padding: 3px 5px 3px 5px;
  border-radius: 0px;
  background-color: #1F1F1F;
  font-family: $work;
  margin-bottom: 3px;
  border: 1px solid #fff;
  color: #fff;
}

.form-buttons{
  @include flex-row();

  .form-button:hover{
    opacity: 85%;
  }
  .show-activity-form:hover{
    border: 1px solid #F5634B;
    color: #F5634B;
  }
  .show-hydration-form:hover{
    border: 1px solid #54C6BE;
    color: #54C6BE;
  }
  .show-sleep-form:hover{
    border: 1px solid #FBD089;
    color: #FBD089;
  }
}

.info-button {
  background-image: url(../images/info.png);
  @include buttons();
  display: inline;
}

.friends-button {
  background-image: url(../images/friends.png);
  @include buttons();
  display: inline;
}

.calendar-button {
  background-image: url(../images/calendar.png);
  @include buttons();
  display: inline;
  float: right;
}

.trending-button {
  @include buttons();
}

.go-back-button {
  background-image: url(../images/return.png);
  @include buttons();
  position: relative;
  top: 60px;
  left: -25%;
}

.steps-trending-button {
  background-image: url(../images/steps-trending.png);
}

.stairs-trending-button {
  background-image: url(../images/stairs-trending.png);
}
