@mixin buttons() {
  background-color: transparent;
  background-position: center;
  background-size: 40px;
  border: none;
  height: 40px;
  width: 40px;
};

#profile-button {
  @include buttons();
  position: absolute;
  right: 10px;
  top: 5px;
  background-image: url(../images/profile.png);
  display: inline;
  float: right;
}


.info-button {
  background-image: url(../images/info.png);
  @include buttons();
  display: inline;
}

.friends-button {
  background-image: url(../images/friends.png);
  @include buttons();
  display: inline;
}

.calendar-button {
  background-image: url(../images/calendar.png);
  @include buttons();
  display: inline;
  float: right;
}

.trending-button {
  @include buttons();
}

.go-back-button {
  background-image: url(../images/return.png);
  @include buttons();
  position: relative;
  top: 60px;
  left: -25%;
}

.steps-trending-button {
  background-image: url(../images/steps-trending.png);
}

.stairs-trending-button {
  background-image: url(../images/stairs-trending.png);
}
