$oswald: 'Oswald', sans-serif;
$work: 'Work Sans', sans-serif;

@mixin flex-row(){
  display:flex;
  justify-content: space-around;
  width: 100%;
}

@mixin center-flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin buttons() {
  background-color: transparent;
  background-position: center;
  background-size: 40px;
  border: none;
  height: 40px;
  width: 40px;
};
