$oswald: 'Oswald', sans-serif;
$work: 'Work Sans', sans-serif;

@mixin flex-row(){
  display:flex;
  justify-content: space-around;
  width: 100%;
}

@mixin center-flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}
