@import 'variables';
@import 'buttons';
@import 'mobile';
@import 'text-elements';

*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
  height: 100%;
}

.input {
  margin: 10px;
}

body {
  background-color: #fff;
  font-family: $oswald;
  height: 100%;
}

/* HEADER */
header {
  background-color: #1F1F1F;
  text-align: center;
  height: auto;
}

form {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.sub-res{
  width:100%;
  color:#fff;
  padding:5px;
  text-align: center;
}

.hours-slept-input{
  width: 90px;
}

#user-info-dropdown {
  background-color: #1F1F1F;
  color: white;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
  width: 40%;
  padding: 10px;
}

.dropdown-p {
  font-size: 1.2vw;
  font-weight: 300;
  padding-bottom: 1vw;
  padding-top: 0;
  text-align: center;
  width: 100%;
}


/* MAIN */
main {
  display: grid;
  grid-template:
    "steps hydration" 50%
    "stairs sleep" 50%
    / 50% 50%;
  height: 100%;
}

.main-card {
  padding: 10px 0 10px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
  width: 98%;
  height: 90%;
}

.card-container {
  @include center-flex();
  margin: .5vw;
  border: 3px solid #1F1F1F;
}

// .info-card{
//   height:100%;
//
// }

.friends-card{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  button{
    left: 10px;
    top: 40px;
  }
  .card-data-line{
    margin-bottom: 0;
    h4{
      font-size: 5vw;
    }
    p{
      font-size: 1vw;
    }
  }
}

.main-card-top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-card-bottom-row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.text-center {
  padding-left: 9vw;
}

#steps-card-container {
  background-color: #F5634B;
  grid-area: steps;
}

#hydration-card-container {
  background-color: #54C6BE;
  grid-area: hydration;
}

#stairs-card-container {
  background-color: #8975B2;
  grid-area: stairs;
}

#sleep-card-container {
  background-color: #FBD089;
  grid-area: sleep;
}

.card-data-line {
  display: flex;
  justify-content: center;
  margin-bottom: 2vw;
}

.calendar-card{
  .hydration-weekly-label{
    font-size:1.25vw;
    padding-top:.75vw;
  }
  .hydration-weekly-amount{
    font-size:2.25vw;
  }
}

.hydration-data-line {
  display: flex;
  justify-content: center;
  margin-bottom: .2vw;
}

.trend-line {
  font-size: 2vw;
  text-align: center;
  width: 20vw;
}

/* CHANGING CLASSES */
.hide {
  display: none !important;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.yellow-text {
  color: #F8BA00;
}


/*MOBILE DISPLAY*/
@media screen and (max-width: 600px) {
  header{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    justify-content: center;
  }
  main {
    grid-template:
    'steps' 250px
    'stairs' 250px
    'hydration' 250px
    'sleep' 250px
    / 100%;
    height: 85%;
    grid-row-gap: 10px;
  }
  h3{
    font-size: 5vw;
  }
  h4{
    font-size: 6vw;
  }
  h5{
    font-size: 4vw;
  }
  p{
    //font-size: 4vw;
    font-size: 2vw;
  }
  .form-button{
    font-size: 2.75vw;
  }
  .trend-line{
    font-size: 3vw;
  }
  .dropdown-p{
    font-size: 3vw;
  }
  .text-center {
    padding-left: 15vw;
  }
  .main-start-text{
    font-size: 5vw;
  }
  .card-data-line{
    .p{
      font-size: 2vw;
    }
  }
  #sleep-friend-longest-sleeper{
    font-size: 6vw;
  }
  .go-back-button{
    position: inherit;
    top: unset;
    left:unset;
  }
  .friends-card{
    @include flex-row();
  }
  .info-card{
    @include flex-row();
  }
  .trending-card{
    @include flex-row();
  }
  .calendar-card{
    @include flex-row();
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
    height: 60%;
    align-items: center;
    .hydration-weekly-label{
      font-size:2vw;
      width: 50%;
      padding-top: unset;
    }
    .hydration-weekly-amount{
      font-size:3vw;
    }
    .hydration-data-line{
      justify-content: space-between;
    }
  }

  .clear-button{
    border: 1px solid #950714;
    color: #950714;
    width: 40%;
  }

  .submit-button{
    border: 1px solid #20b807;
    color: #20b807;
    width: 40%;
  }

  .show-activity-form{
    border: 1px solid #F5634B;
    color: #F5634B;
  }
  .show-hydration-form{
    border: 1px solid #54C6BE;
    color: #54C6BE;
  }
  .show-sleep-form{
    border: 1px solid #FBD089;
    color: #FBD089;
  }

  #user-info-dropdown {
    p{
      font-size:4vw;
    }
    position: inherit;
    background-color: #1F1F1F;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 100;
    transform: none;
  }
  #dropdown-name{
    font-size: 20px;
  }
}
